/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#product-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
} */

.header img {
    max-width: 75px;
}

div.menu ul li {
    list-style: none;
}

div.menu ul li a {
    text-decoration: none;

}

div.menu ul li a:hover {
    padding: 10px;
    color: black;
    background-color: rgb(17, 165, 39);
}